---
title: Grammar as a biometric for Authorship Verification
date: '2024-04-24'
linkTitle: https://www.r-bloggers.com/2024/04/grammar-as-a-biometric-for-authorship-verification/
source: R-bloggers
description: |-
  <p>About a month ago we finally managed to drop (Nini et al. 2024), “Authorship Verification<br />
  based on the Likelihood Ratio of Grammar Models”, on the arXiv.<br />
  Delving into topics such as authorship verification, grammar and<br />
  forensics, was quite a detour for me, and I’d like to summarize here<br />
  some of ...</p>
  <strong>Continue reading</strong>: <a href="https://www.r-bloggers.com/2024/04/grammar-as-a-biometric-for-authorship-verification/">Grammar as a biometric for Authorship ...
disable_comments: true
---
<p>About a month ago we finally managed to drop (Nini et al. 2024), “Authorship Verification<br />
based on the Likelihood Ratio of Grammar Models”, on the arXiv.<br />
Delving into topics such as authorship verification, grammar and<br />
forensics, was quite a detour for me, and I’d like to summarize here<br />
some of ...</p>
<strong>Continue reading</strong>: <a href="https://www.r-bloggers.com/2024/04/grammar-as-a-biometric-for-authorship-verification/">Grammar as a biometric for Authorship ...